body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 30px;
}
.safi{
    color: brown;
}
.hafe-site{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2% ;
}
.hafe-site img{
width: 100%;
}